<Config>
     <QueryServerList>
        <QueryServer URI="localhost:9099/statusjson" Name="LOCAL:QS1" />   
    </QueryServerList>     
     <AccountDB>
        <Info  Username="root" Password="08ch08ch" 
               Address="localhost"
               Port="3306"
               DBname="graphdata"
               ConnMaxLifetime="10" MaxIdleConns="10" MaxOpenConns="10"/>
    </AccountDB>
    <SessionDB>
          <RedisInfo Region="LOCAL" Addr="localhost:6379" ServerGroupID="OFFICE_DEV" Password=""/> 
       </SessionDB>
    <LogConfig>
        <LogMap Key="ginlog" FileName="ginlog" FileExtension="log" MaxSize="1" MaxBackup="30" MaxAge="3" StdOut="Y" Debug="N" JSONFormat="N"/>
        <LogMap Key="serverlog" FileName="loginserverlog" FileExtension="log" MaxSize="1" MaxBackup="30" MaxAge="3" StdOut="N" Debug="Y" JSONFormat="N"/>
        <LogMap Key="dblog" FileName="dblog" FileExtension="log" MaxSize="100" MaxBackup="30" MaxAge="3" StdOut="N" Debug="Y" JSONFormat="N"/>
    </LogConfig>     
</Config>